.content_body{
    width: 100%;
    background: #fff;
}
.login_wrap {
    width: 900px;
    margin: 0 auto;
    padding: 27px 0 33px;
    height: 580px;
}
.login_wrap .login .login_img{
    display: block;
    width: 220px;
    height: 52px;
    background: url("../images/login.jpg") no-repeat;
}
.lg_banner {
    width: 400px;
    padding: 65px 0 0 40px;
    float: left;
    display: inline;
    overflow: hidden;
}
.rg_right{
    width: 372px;
    height: 350px;
    float: left;
    margin-left: 85px;
}
.country_select {
    float: left;
    width: 104px;
    height: 30px;
    margin-right: 10px;
    line-height: 1.5;
    border: 1px solid #c4c4c4;
    border-radius: 0;
    color: #333;
    font-size: 14px;
    padding: 4px 35px 4px 10px;
    background: #fff;
    outline: 0;
}
.short_text {
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    height: 28px;
    width: 155px;
    padding: 0 6px;
    outline: 0;
    position: absolute;
}
.focus,.error {
    color: #ff4066;
    line-height: 15px;
    height: 15px;
    position: relative;
    top: 29px;
    font-size: 12px;
    width: 157px;
    padding: 0 5px;
    background: #FFEBEB;
    border: 1px solid #ffbdbe;
    display: inline-block;
}
.error1 {
    color: #ff4066;
    line-height: 15px;
    height: 15px;
    position: relative;
    top: -1px;
    font-size: 12px;
    width: 273px;
    padding: 0 5px;
    background: #FFEBEB;
    border: 1px solid #ffbdbe;
    display: inline-block;
}
.error span,.focus span {
    padding: 5px 0;
    line-height: 13px;
    display: block;
}
.hide{display:none;}
.focus {
    color: #666;
    width: 157px;;
    line-height: 15px;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    display: inline-block;
}
.focus1 {
    color: #666;
    width: 273px;;
    line-height: 15px;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    display: inline-block;
    height: 15px;
    position: relative;
    top: -1px;
    font-size: 12px;
    padding: 0 5px;
}
.input {
    position: relative;
    overflow: visible;
}
.regist {
    width: 990px;
    padding: 0;
    margin: 0 auto;
    zoom: 1;
}
.rg_word .btn{
    width: 105px;
    height: 30px;
    display: block;
    background: #f55;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    float: left;
    margin-left: 178px;
    font-size: 13px;
    line-height: 30px;
}
.mod_box{
    width: 362px;
    height: 325px;
    display: block;
    border: 1px solid #CFCFCF;
}
.form{
    margin-left: 40px;
}
.mod_box .rg_fix{
    margin-top: 22px;
    height: 50px;
}
.mod_box .rg_word{
    position: relative;
    height: 15px;
}
.mod_box .rg_password{
    padding-top: 32px;
}
.mod_box .rg_submit{
    margin-top: 15px;
    float: left;
}
.mod_box .rg_rule{
    margin-top: 15px;
    float: left;
}
.mod_box .rg_rule label span{
    margin-left: -5px;
    font-size: 12px;
    color: #111;
}
.mod_box .rg_rule label span a{
    text-decoration: underline;
    color: #111;
}
.mod_box .rg_login{
    margin-top: 35px;
    display: inline-block;
    width: 300px;
    height: 20px;
}
.mod_box .rg_login>a{
    float: right;
    margin-right: 40px;
    color: #666;
    text-decoration: underline;
    font-size: 12px;
}
.mod_box .rg_submit .btn_red{
    display: block;
    width: 286px;
    height: 28px;
    background: #ff4066;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    float: left;
    outline: 0;
}
.mod_box .rg_password .text{
    width: 271px;
    height: 28px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 6px;
    outline: 0;
}
.rg_right .regist{
    border: 1px solid #CFCFCF;
    width: 362px;
    height: 60px;
    display: block;
    border-bottom: none;
    margin-right: 10px;
}
.rg_right .regist h3{
    padding-left: 40px;
    line-height: 55px;
    font-size: 16px;
    font-family: "ו", sans-serif;
    color: #333;
}
.foot {
    overflow: hidden;
    margin-top: 90px;
    font-size: 12px;
    background: #fbfbfb url(../images/background.png) repeat-x center top;
}
.foot .clearfix{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 0 1px;
}
.foot .foot_info {
    overflow: hidden;
    float: left;
    width: 246px;
}
.foot .foot_info .info_logo {
    display: block;
    height: 35px;
    background: url(../images/moguj.png) no-repeat;
}
.foot .foot_info .info_text {
    overflow: hidden;
    margin-top: 12px;
}
.foot .foot_info .info_text p {
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
    color: #999;
}
.foot .foot_info .info_text a {
    color: #999;
    cursor: pointer;
}
.foot .foot_link {
    float: left;
    margin-left: -30px;
}
.foot .foot_link dl {
    float: left;
    margin-left: 121px;
}
.foot .foot_link dt {
    padding-bottom: 3px;
    color: #333;
    font-weight: 700;
    height: 14px;
}
.foot .foot_link dd {
    margin-top: 8px;
}
.foot .foot_link dd a {
    color: #666;
}
.foot_link .pc {
    display: block;
    width: 50px;
    float: left;
    margin-left: -13px;
    height: 28px;
    vertical-align: top;
    background: url("../images/login_06.png") -486px -50px no-repeat;
}
.foot_link .pa {
    width: 164px;
    height: 28px;
    margin-left: 38px;
    display: block;
    vertical-align: top;
    background: url("../images/login_06.png")-240px -50px no-repeat ;
}
.foot_link .kx {
    float: left;
    height: 28px;
    margin-left: 205px;
    margin-top: -27px;
    vertical-align: top;
    width: 84px;
    background: url("../images/login_06.png") -400px -50px no-repeat;
}
.foot .w-links{
    border-top: 1px solid #e5e5e5;
    margin-top: 150px;
    background: #fbfbfb;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 20px 1px;
    margin-bottom: 35px;
}
.foot .w-links li {
    float: left;
}
.foot .w-links li a {
    color: #202020;
    font-size: 12px;
    padding: 10px 14px;
}